:root {
    --red: hsl(2, 75%, 56%);
    --green: hsl(66, 47%, 43%);
    --yellow: hsl(39, 95%, 72%);
    --text: rgba(255, 255, 255, 1);
    --bgc: rgba(0, 0, 0, 0.7);
    --input: rgba(251, 204, 114, 0.3)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-family: 'Comic Neue', cursive;
    background-image: url(background.jpg);
    background-color: var(--bgc);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}


/* ---------- header ---------- */

#title {
    margin: 10% 1rem 1rem 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    font-size: 3.5em;
    color: var(--text);
}

.title-icon {
    margin-left: 0.2em;
    font-size: 1em;
    color: var(--red);
}

.title-icon:hover {
    color: var(--green);
    transition: 0.2s;
}

#description {
    margin: 0.2em;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: var(--text);
}

/* ---------- form ---------- */
#survey-form {
    margin: 5% 10%;
    padding: 1rem;
    border-radius: 1em;
}

.field {
    margin: 1em;
    padding: 1.5em;
    border-style: none;
    border-radius: 1em;
    background-color: var(--text);
    box-shadow: 0 0em 2em var(--bgc);
}

.question-label {
    padding: 0.5em 0;
    font-size: 1.5em;
}

.input-label {
    padding: 0.5em 0em;
    font-size: 1.2em;
}

input,
#dropdown,
textarea {
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    border-style: none;
    border-radius: 1em;
    background-color: var(--input);
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0.8em 0em 0.8em 1.5em;
    width: initial;
    cursor: pointer;
}

textarea {
    margin-top: 1em;
    resize: vertical;
}

/* ---------- submit ---------- */
.submit-wrap {
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    margin: 0.5em;
    padding: 1em;
    width: 30%;
    font-size: 1.2em;
    background-color: var(--yellow);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--red);
    transition: 0.3s;
}